.box {
  border: 5px solid hsl(0, 0%, 52%);
  height: 30em;
  max-width: 30em;
  padding: 10px;
  margin-left: 100px;
  margin-top: 80px;
  border-radius: 10px;
  text-align: center;
}

#text-box {
  width: 99%;
  padding: 5px;
  font-size: medium;
  border: none;
  outline: none;
}

.add-task-btn {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 80%;
  padding: 10px;
  background-color: rgba(68, 89, 135, 0.801);
  color: white;
  border-radius: 10px;
  border: none;
}

.delete-btn {
  background-color: red;
  color: white; 
}
